Repository arsalan0c/blotjson, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, nodejs, golang

.github/labeler.yml:

frontend:
- src/frontend/*

nodejs:
- src/lang/nodejs/*

golang:
- src/lang/go/*

Add big json test
  src/lang/go/src/github.com/arsalanc-v2/blotjson/blotjson.go
  src/lang/go/src/github.com/arsalanc-v2/blotjson/blotjson_test.go
Labels: none

Move files
  src/lang/go/src/blotjson/blotjson.go
  src/lang/go/src/blotjson/blotjson_test.go
  src/lang/go/src/blotjson/go.mod
  src/lang/go/src/blotjson/go.sum
Labels: none

Update go.yml
  .github/workflows/go.yml
Labels: none

Add go backend (#23)
  src/lang/go/src/blotjson/blotjson.go
  src/lang/go/src/blotjson/blotjson_test.go
  src/lang/go/src/blotjson/go.mod
  src/lang/go/src/blotjson/go.sum
Labels: none

Move files
  src/lang/go/.gitignore
  src/lang/go/blotjson.go
  src/lang/go/blotjson_test.go
  src/lang/go/go.mod
  src/lang/go/go.sum
Labels: golang

Move go files (#41)
  src/lang/go/.gitignore
  src/lang/go/blotjson.go
  src/lang/go/blotjson_test.go
  src/lang/go/go.mod
  src/lang/go/go.sum
Labels: golang

Modify go path
  src/lang/go/go.mod
  src/lang/go/src/blotjson/blotjson.go
  src/lang/go/src/blotjson/blotjson_test.go
  src/lang/go/src/blotjson/go.mod
  src/lang/go/src/blotjson/go.sum
Labels: golang

Rename module
  src/lang/go/go.mod
Labels: golang

Update go workflow
  .github/workflows/go.yml
Labels: none

CI
  src/lang/go/.gitignore
Labels: golang

Update go.yml
  .github/workflows/go.yml
Labels: none

Fix race condition
  src/lang/go/blotjson.go
Labels: golang

go: Add code coverage to workflow
  .github/workflows/go.yml
Labels: none

Update .gitignore
  src/lang/go/.gitignore
Labels: golang

Update go.yml
  .github/workflows/go.yml
Labels: none

go: Fix race
  src/lang/go/blotjson_test.go
  src/lang/go/go.sum
Labels: golang

Update go.yml
  .github/workflows/go.yml
Labels: none

go: Fix lint
  .github/workflows/go.yml
  src/lang/go/blotjson.go
  src/lang/go/go.mod
  src/lang/go/go.sum
Labels: golang

go: Fix lint
  .github/workflows/go.yml
Labels: none

go: Fix lint
  .github/workflows/go.yml
Labels: none

Update go.yml
  .github/workflows/go.yml
Labels: none

go: Fix lint
  .github/workflows/go.yml
  src/lang/go/go.mod
  src/lang/go/go.sum
Labels: golang

Update go.yml
  .github/workflows/go.yml
Labels: none

Update go.yml
  .github/workflows/go.yml
Labels: none

Add docs
  src/lang/go/README.md
  src/lang/go/docs/generate.sh
  src/lang/go/docs/generate_body.sh
  src/lang/go/docs/go_header.md
Labels: golang

New docs
  README.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_body.md
  src/lang/nodejs/package.json
Labels: nodejs

Update docs
  README.md
  docs/main_body.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_body.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

Update docs
  src/lang/nodejs/README.md
  src/lang/nodejs/package.json
Labels: nodejs

Update docs
  src/lang/nodejs/package.json
Labels: nodejs

Update docs
  src/lang/nodejs/package.json
Labels: nodejs

Fix docs (#43)
  README.md
  docs/main_body.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_body.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

Fix docs (#44)
  .github/workflows/go.yml
  README.md
  docs/main_body.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_body.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Update issue templates (#45)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Add issue templates (#46)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Modify visualise algorithm
  src/lang/go/blotjson.go
  src/lang/go/go.sum
Labels: golang

Use a variable
  src/lang/go/blotjson.go
Labels: golang

Remove extra variable
  src/lang/go/blotjson.go
Labels: golang
